<!--
//  Design and implement an application that converts clients messages in a chat application
//  to speech in English and translates it to a target language.
-->

<div>
  <h1>FIT2095 Synthesize and Translate App</h1>
</div>

<div>
  <label>Text to be in English</label><br>
  <input type="text" [(ngModel)]="textToBeTranslated"><br>

  <label>Select a language</label><br>
  <input type="radio" name="selectedLanguage" (click)="onSelectLanguage('French')">French<br>
  <input type="radio" name="selectedLanguage" (click)="onSelectLanguage('German')">German<br>
  <button type="submit" class="btn btn-primary" (click)="submitBtn()">Submit</button>
</div>

<div class="container" *ngFor="let item of translatedList">
  <p>Original Message: {{item.text}}</p>
  <p>Translated Message: {{item.translation}}</p>
<!--  <p>Translated Message: {{item.audioSpeech}}</p>-->
  <audio controls>
    <source src="{{item.audioSpeech}}" type="audio/mpeg">
<!--    <source src="output{{item.audioSpeech}}.mp3" type="audio/mpeg">-->
  </audio>
  <audio controls>
    <source src="{{item.audioSpeechTranslation}}" type="audio/mpeg">
  </audio>
  <span class="time-right"></span>
</div>

